<div class="row">
    <div class="col">
        <h4>*ngIF</h4>
        <hr>
        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ frase.autor }}</h5>
                <p class="card-text">{{ frase.mensaje }}</p>
            </div>
        </div>
        <button (click)="mostrar =!mostrar" type="button" class="btn btn-success btn-block ">Success</button>
    </div>
    <div class="col">
        <h4>*ngFOR</h4>
        <hr>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li *ngFor="let personaje of personajes; let index = index" class="list-group-item">{{ index }} - {{ personaje }}</li>
            </ul>
        </div>
    </div>
</div>